<app-center-layout>

  <div id = "control-box">
    <div class="botones">
      <button class="botonDesconectarse" (click)="logoff()">Desconectarse</button>
      <button class="botonWelcome" routerLink="/acceso/welcome" routerLinkActive="active">Volver al inicio</button>
  </div>

    <!-- Titulo seccion 2 -->
    <h1>Pruebas PCR
      <button class="botonMas" id="addAnalisis" routerLink="/acceso/search" routerLinkActive="active">+</button>
      <button class="botonMenos" id="rmAnalisis" (click)="dialogPrueba(1, 'dialogDelP')">-</button>
    </h1>
  
  
    <dialog id="dialogDelP">
      <h2>Escribe la prueba de PCR a eliminar</h2>
      <div>
        <input 
          type="text"
          id="inputDelP" 
          placeholder="Identificador"
          [(ngModel)]="idPCR" 
        /><button id="ejecutarDelP" (click)="deletePrueba(1)">
          Eliminar
        </button>
      </div>
     
      <div>
        <button id="closeP" (click)="closeDialogPrueba(1, 'dialogDelP')">
          Cerrar
        </button>
        <span id="errorP"></span>
      </div>
    </dialog>
  
  
    <h3>En proceso:</h3>
    <table id="PCRProceso">
      <tr>
        <th>Identificador de la prueba</th>
        <th>Empleado</th>
        <th>Cliente</th>
        <th>Tiempo restante (segundos)</th>
      </tr>
      <tr *ngFor="let item of pruebasEjecucionPCR">
        <td>{{item.id}}</td>
        <td>{{item.dniDoctor}}</td>
        <td>{{item.dniPaciente}}</td>
        <td>{{segundos(item.fechaFinal)}}</td>
      </tr>
    </table>
  
    <h3>En cola:</h3>
    <table id="PCRCola">
      <tr>
        <th>Identificador de la prueba</th>
        <th>Empleado</th>
        <th>Cliente</th>
        <th>Tiempo restante (segundos)</th>
      </tr>
      <tr *ngFor="let item of pruebasEsperaPCR">
        <td>{{item.id}}</td>
        <td>{{item.dniDoctor}}</td>
        <td>{{item.dniPaciente}}</td>
        <td>{{item.fechaFinal}}</td>
      </tr>
    </table>

    <h3>Finalizadas:</h3>
    <table id="PCRFinalizado">
      <thead>
      <tr>
        <th>ID</th>
        <th>Empleado</th>
        <th>Cliente</th>
        <th>Fecha</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="pruebasFinalizadasPCR()">
      <tr *ngFor="let pru of pruebaPCR?.pruebaPCR">
        <td *ngIf="comprobar(pru.fluorescencia)">{{ pru.id }}</td>
        <td *ngIf="comprobar(pru.fluorescencia)">{{ pru.dniDoctor.toUpperCase() }}</td>
        <td *ngIf="comprobar(pru.fluorescencia)">{{ pru.dniPaciente.toUpperCase() }} </td>
        <td *ngIf="comprobar(pru.fluorescencia)">{{ getFecha(pru.fechaFinal) }}</td>
        <td *ngIf="comprobar(pru.fluorescencia)"><button id="btn-consultas" (click)="masInfo(pru.fluorescencia)"><b id="textoBoton">+ INFO</b><i class="fa fa-send"></i></button></td>
      </tr>
    </tbody>
  </table>

   <div id="numPagPac">
    <button class="flechas" *ngIf="masPaginasIzq()" (click)="antPag()">
      <i class="fa fa-caret-square-o-left"></i>
      <b> <- Anterior</b>
    </button>

    <h5> {{pruebaPCR?.infoPagina?.pageNumber}}/{{pruebaPCR?.infoPagina?.totalPages}} </h5>

    <button class="flechas" *ngIf="masPaginasDcha()" (click)="sigPag()">
      <i class="fa fa-caret-square-o-right"></i>
      <b>Siguiente -> </b>
      </button>
  </div>
  
    <!--Para tener un poco de margen entre el final de la tabla y el final de la pagina-->
    <h3></h3>




  