#control-box{
  align-items: left;
  gap: 2rem;
  height: 100vh;
  width: 1200px;
  padding: 5rem;
  background-color: white;
  border-radius:1em;
  border: black 3px solid;
}

#dialogDelP{
  background-color: rgb(141, 191, 196);
  border-radius: 1em;
}

// Titulo pricipal
h1{
  padding-top: 15px;
  padding-bottom: 10px;
  font-family: Arial;
  text-align: left;
  color: black;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

// Titulo secundario
h3{
  padding-top: 10px;
  padding-left: 20px;
  font-family: Arial;
  text-align: left;
  color: black;
}

h2{
  color:black;
}

// Tabla
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2%;
  max-width: 1200px;
}

// Datos de la tabla
td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

// Poner los segundos centrados
td:nth-child(5) {
  text-align: center;
}

// Titulos de la tabla
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  background-color: rgb(141, 191, 196);
}

// Poner las filas pares de la tabla con fondo gris
tr:nth-child(even) {
  background-color: #E7F6F6;
  //background-color: #dddddd;
}

// Botones
#addAnalisis, #rmAnalisis{
  margin-left: 10%;
  width: 30px;
  height: 30px;
  padding: 5px;
  text-align: center;
  border-radius: 50%;
  border-color: rgb(141, 191, 196);
}

#closeA, #closeP{
  margin-top: 10px;
  margin-right: 50px;
  padding: 5px;
}

// Inputs
#inputDelA, #inputDelP{
  display: inline-block;
  box-sizing: border-box;
  width: 70%;
  height: 50px;
  padding: 12px 20px;
  margin: 10px 0px;
  border: 1px solid #6e6e6e;
  border-radius: .25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

// Poner el boton al lado del input
#ejecutarDelA, #ejecutarDelP{
  display: inline-block;
  box-sizing: border-box;
  width: 15%;
  height: 50px;
  //float: inline-end;
  //padding-top: 12px;
  //padding-bottom: 12px;
  text-align: center;
  font-size: small;  
  border: 1px solid #6e6e6e;
  border-radius: .25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#numPagPac{
  margin: 10px auto;
  width: 60%;
  background-color: #E7F6F6;
  border: 1px solid rgb(154, 247, 253);
  display: flex;
  align-items: center;
  justify-content: center;
}

.flechas{
  display:inline-block;
  padding:0.3em 1.2em;
  margin: 0.2em 0.2em 0.2em 0.2em;
  //border-radius:2em;
  border:none;
  box-sizing: border-box;
  color:black;
  background-color: #E7F6F6;
  text-align:center;
  transition: all 0.2s;
  outline:none;
}

.flechas:hover {
  color: rgb(154, 247, 253);
}

@media all and (max-width:30em){
  .flechas{
      display: block;
      margin: 0.2em auto;
  }
}

// Popups
dialog{
  padding: 25px;
  width: 60%;
  border: 1px solid #bebebe;
}

dialog[open] {
  position: fixed;
  
  margin-top: 250px;
  margin-left: 15%;
  max-width: 750px;
  top: 10px;
  backdrop-filter: visible;
}


#botones{
  align-content: right;
}

.boton{
  margin-right: 10px;
}

.botonDesconectarse{
  display:inline-block;
  padding:0.3em 1.2em;
  //margin: 0em 0.3em 0.3em 55em;
  border: none;
  box-sizing: border-box;
  //text-decoration:none;
  //font-family:'Roboto',sans-serif;
  //font-weight:300;
  color:black;
  background-color:white;
  text-align:center;
  transition: all 0.2s;
  outline:none;
}

.botonDesconectarse:hover {
  background-color: rgb(189, 251, 255);
  color: black;
}

@media all and (max-width:30em){
    .botonDesconectarse{
        display: block;
        margin: 0.2em auto;
    }
}

.botonWelcome{
  display:inline-block;
  padding:0.3em 1.2em;
  margin: 0em 0em 0.3em 0em;
  border: none;
  box-sizing: border-box;
  //text-decoration:none;
  //font-family:'Roboto',sans-serif;
  //font-weight:300;
  color: black;
  background-color: white;
  text-align:center;
  transition: all 0.2s;
  outline:none;
}

.botonWelcome:hover {
  background-color: rgb(189, 251, 255);
  color: black;
}

@media all and (max-width:30em){
    .botonWelcome{
        display: block;
        margin: 0.2em auto;
    }
}

.botonMas:hover, .botonMenos:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgb(154, 247, 253);
}

.botonMas:active, .botonMenos:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgb(154, 247, 253);
  outline:none;
}

.botonMas-white, .botonMenos-white {
  background-color: #fff;
  color: #777;
  outline:none;
}

.botonMas::after, .botonMenos::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.botonMas-white::after, .botonMenos-white::after {
  background-color: #fff;
}

.botonMas:hover::after, .botonMenos:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.botonMas-animated, .botonMenos-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}

#dialogDelA{
  background-color: rgb(141, 191, 196);
  border-radius: 1em;
}