<h1 mat-dialog-title>Sangre</h1>
<div mat-dialog-content id="datos">
  Electrolitos: {{datoElectrolitos}}<br>
  Glucosa: {{datoGlucosa}}<br>
  Colesterol: {{datoColesterol}}<br>
  Trigliceridos: {{datoTrigliceridos}}<br>
  Bilirrubina: {{datoBilirrubina}}<br>
</div>
<div mat-dialog-content id="nodatos">
  No están cargados los resultados.<br>
  Espere un momento.
</div>
