<app-center-layout>
  <app-nav-bar></app-nav-bar>

  <h1 id="info-page-title">Información del servidor</h1>

  <p id="info-page-p-content">
    Respuesta del servidor:
    <strong id="info-page-server-status">{{ serverStatus }}</strong>
  </p>
</app-center-layout>
