.boton{
  display:inline-block;
  padding:0.3em 1.2em;
  margin: 0em 0.3em 0.3em 55em;
  border: none;
  box-sizing: border-box;
  //text-decoration:none;
  //font-family:'Roboto',sans-serif;
  //font-weight:300;
  color:black;
  background-color:white;
  text-align:center;
  transition: all 0.2s;
  outline:none;
}

.boton:hover {
  background-color: rgb(189, 251, 255);
  color: black;
}

@media all and (max-width:30em){
    .boton{
        display: block;
        margin: 0.2em auto;
    }
}

.botonPruebas{
  background-color: rgb(141, 191, 196);
  color: black;
  text-decoration: none;
  outline: none;
  border-radius:2em;
  padding: 3%;
}

.botonPruebas:hover{
  background-color: rgb(206, 251, 255);
}

#welcome-box {
  width: 1000px;
  height: 245px;
  box-sizing: border-box;
  padding: 40px 50px;
  border: black 3px solid;
  border-radius: 5px;
  background: white;
}

table {
  font-family:'Roboto',sans-serif;
  font-weight:300;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2%;
  max-width: 1200px;
  //color: black;
}

h1 {
  text-align: center;
  color: white;
  font-size: 40px;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

p {
  display: flex;
  gap: 0.5rem;
}

#cabeceras{
  background-color: rgb(141, 191, 196);
}

#vacio{
  background-color: white;
}