<app-center-layout>
  <app-nav-bar></app-nav-bar>

  <h1 id="welcome-page-title">Saludos de nuevo, {{ usuario }}</h1>
  
  <div id = "welcome-box">
    <table>
      <tr id = "cabeceras">
        <th id = "vacio"></th>
        <th>Procesos en curso</th>
        <th>Procesos en espera</th>
      </tr>
      <!-- <tr routerLink="/ctrlPanel" routerLinkActive="false"> -->
      <tr>
        <th><button class="botonPruebas" (click)="irAnalisisSangre()">Análisis de Sangre</button></th>
        <th><div class="loader"></div>{{pruebasEjecucionSangre}}</th>
        <th><div class="loader"></div>{{pruebasEsperaSangre}}</th>
      </tr>
      <tr>
        <!--<th><a href = "/acceso/ctrlPanel">Pruebas PCR</a></th>-->
        <th><button class="botonPruebas" (click)="irPruebasPCR()">Pruebas PCR</button></th>
        <th><div class="loader"></div>{{pruebasEjecucionPCR}}</th>
        <th><div class="loader"></div>{{pruebasEsperaPCR}}</th>
      </tr>
    </table>
  
    <button class="boton" (click)="logoff()">Desconectarse</button>
  </div>

</app-center-layout>
