
#search-box{
  align-items: left;
  //gap: 2rem;
  height: 100vh;
  width: 1200px;
  padding: 5rem;
  background-color: white;
  border-radius:1em;
  border: black 3px solid;
}

// Titulo pricipal
h1{
  padding-top: 15px;
  padding-bottom: 10px;
  font-family: Arial;
  text-align: left;
  color: black;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

// Tabla
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2%;
  max-width: 1200px;
  margin-top: 5%;
}

// Datos de la tabla
td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th, td {
  width: 20%;
}

// Poner los segundos centrados
td:nth-child(5) {
  text-align: center;
}

// Titulos de la tabla
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  background-color: rgb(141, 191, 196);
}

// Poner las filas pares de la tabla con fondo gris
tr:nth-child(even) {
  background-color: #E7F6F6;
  //background-color: #dddddd;
}

// Botones
#addAnalisis{
  margin-left: 10%;
  width: 30px;
  height: 30px;
  padding: 5px;
  text-align: center;
}

#addPCR{
  margin-left: 10%;
  width: 30px;
  height: 30px;
  padding: 5px;
  text-align: center;
}

#error{
  margin-left: 10%;
  margin-top: 10%;
  width: 30%;
  height: 10%;
  padding: 5px;
  text-align: center;
}

#notFound{
  text-align: left;
  font-size: 25px;
  color:red
}

#nuevoPaciente{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.btn-formulario-paciente {
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:black;
  background-color:rgb(189, 251, 255);
  text-align:center;
  transition: all 0.2s;
  outline:none;
}
.btn-formulario-paciente:hover {
  color: rgb(141, 191, 196);
  border-color: rgb(141, 191, 196);
}

@media all and (max-width:30em){
    .btn-formulario-paciente{
        display: block;
        margin: 0.2em auto;
    }
}

#busquedaPacientes{
  margin-top: 2%;
}

#parrafo2, #parrafo3{
  margin-top: 2%;
}

.busquedaPaciente{
  display:inline-block;
  padding:0.3em 1.2em;
  margin: 0.2em 0.2em 0.2em 0.2em;
  //border-radius:2em;
  border:none;
  box-sizing: border-box;
  color:black;
  background-color: #E7F6F6;
  text-align:center;
  transition: all 0.2s;
  outline:none;
}

.busquedaPaciente:hover {
  color: rgb(154, 247, 253);
}

@media all and (max-width:30em){
  .busquedaPaciente{
      display: block;
      margin: 0.2em auto;
  }
}

.botonVolver{
  display:inline-block;
  padding:0.3em 1.2em;
  //margin: 0em 0.3em 0.3em 55em;
  border: none;
  box-sizing: border-box;
  //text-decoration:none;
  //font-family:'Roboto',sans-serif;
  //font-weight:300;
  color:black;
  background-color:white;
  text-align:center;
  transition: all 0.2s;
  outline:none;
}

.botonVolver:hover {
  background-color: rgb(189, 251, 255);
  color: black;
}

@media all and (max-width:30em){
    .botonVolver{
        display: block;
        margin: 0.2em auto;
    }
}

.btn-consultas{
  background-color: none;
  border: none;
  color: black;
}

.btn-consultas:hover{
  color: rgb(105, 105, 105);
}
