<app-center-layout>

  <div id = "search-box">

    <div>
      <button class="botonVolver" (click)="volver()">Volver</button>
    </div>

    <!-- Titulo seccion 1 -->
    <div id = "nuevoPaciente">
      <h1>Búsqueda de pacientes</h1>
      <!--<h2>¿No ha encontrado al paciente? Añádalo aquí</h2>-->
     <button class="btn-formulario-paciente" (click)="pacienteNuevo()"><b>Paciente de nuevo ingreso</b></button>
    </div>

    <div id = "busquedaPacientes">

        <p id = "parrafo1">
          Introduzca el DNI del paciente a buscar: <input type="search" placeholder="p. ej: 11304067W" id="dni"
          [(ngModel)]="datos.dni"/>
          <button class = "busquedaPaciente" id = "buscarDni" (click)="buscardni()">buscar</button>
        </p>

        <p id = "parrafo2">
          Introduzca el nombre del paciente a buscar: <input type="search" placeholder="p. ej: David" id="nombre"
          [(ngModel)]="datos.nombre"/>
          <button class = "busquedaPaciente" id = "buscarNombre" (click)="buscarnombre()">buscar</button>
        </p>

        <p id = "parrafo3"> 
          Introduzca los apellidos del paciente a buscar: <input type="search" placeholder="p. ej: Gonzalez Pérez" id="apellidos"
          [(ngModel)]="datos.apellidos"/>
          <button class = "busquedaPaciente" id = "buscarApellidos" (click)="buscarapellidos()">buscar</button>
          
        </p>
    </div>

    <table id="resultado" style="display: block;">
      <thead>
      <tr>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Género</th>
        <th>Fecha de nacimiento</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    
    <tbody *ngIf="pacienteDisponibles()">
      <tr id = "fila" *ngFor="let p of pacienteAso ">
        <td id = columna1>{{p.dniPaciente.toUpperCase() }}</td>
        <td id = columna2>{{p.nombrePaciente }}</td>
        <td id = columna3>{{p.apellidosPaciente}} </td>
        <td id = columna4>{{p.gender}}</td>
        <td id = columna5>{{p.birthday}}</td>
        <td id = columna6>{{p.email}}</td>
        <td><button id="btn-consultas" (click)="crearPrueba(p.dniPaciente)"><b id="textoBoton">Iniciar prueba {{tipoPrueba}}</b><i class="fa fa-send"></i></button></td>
      </tr>
    </tbody>
    </table>
      <p id ="notFound" style="display: none;" >No se ha encontrado dicho paciente</p>
  </div>

</app-center-layout>