* {
    box-sizing: border-box;
  }


  #login-box {
    width: 400px;
    height: 300px;
    box-sizing: border-box;
    padding: 40px 50px;
    border: black 3px solid;
    border-radius: 5px;
    background: white;
  }

  h1 {
    text-align: center;
    color: white;
    font-size: 40px;
  }
  
  input[type="text"],
  
  input[type="password"] {
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  
  .botonAcceder {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:black;
    background-color:rgb(32, 240, 255);
    text-align:center;
    transition: all 0.2s;
    outline:none;
  }
  .botonAcceder:hover {
    background-color: rgb(184, 249, 253);
  }

  @media all and (max-width:30em){
      .botonAcceder{
          display: block;
          margin: 0.2em auto;
      }
  }
 

  p {
    text-align: center;
  }

  h2{
    padding: 2px;
    color: red;
  }

  .icono{
    background-color: rgba(240, 248, 255, 0);
    position: auto;
    font-size: 50px;
    border-radius: 15px;
    border-style: hidden;
    margin-left: 5%;
  }

  h2{
    color:rgb(141, 191, 196);
    margin-left: 0.5em;
  }

  dialog[open]{
    border-radius: 1em;
    padding: 1%;
    position: fixed;
    width: 20%;
    top: 60%;
    left: 40%;
  }

  #ParrafoError{
    margin: 1em;
    text-align: left;
  }

  .botonCerrar{
    display:inline-block;
    padding:0.3em 1.2em;
    margin: 0.2em 0.2em 0.2em 0.2em;
    //border-radius:2em;
    border:none;
    box-sizing: border-box;
    color:black;
    background-color: #E7F6F6;
    text-align:center;
    transition: all 0.2s;
    outline:none;
  }
  
  .botonCerrar:hover {
    color: rgb(154, 247, 253);
  }
  
  @media all and (max-width:30em){
    .botonCerrar{
        display: block;
        margin: 0.2em auto;
    }
  }