<app-center-layout>
  <app-nav-bar></app-nav-bar>

  <!-- Título de la página -->
  <h1 id="home-page-title">Login</h1>

  <!-- Caja donde contendremos todos los elementos para hacer el login -->
  <div id="login-box">
    <!-- Campos para el usuario -->
    <h3>DNI:</h3>
    <p>
      <input
        class="boxes"
        type="text"
        id="dni" 
        value=""
        [(ngModel)]="datos.user"
      />
    </p>

    <!-- Campos para la contraseña -->
    <h3>Password:</h3>
    <p>
      <input
        class="boxes"
        type="password"
        id="password"
        value=""
        [(ngModel)]="datos.password"
      />
    </p>

    <button class="botonAcceder" style="float: right" (click)="login()"> Acceder </button>
    
    <!-- link='/''
     <input type="button" style="float: right" 
      *ngIf = "login.valor == 0" onclick="location.href='welcome.page.component.html'"
      *ngIf = "login.valor == 1" onclick="document.getElementById('error').setAttribute('open', 'open')">Login</input> -->
  </div>

  <!-- Mensaje de error en caso de usuario y/o contraseñas incorrectas -->
  <dialog id="error">
    <h2>Error</h2>
    <p id="ParrafoError">El usuario y/o la contraseña son erroneos</p>
    <button class = "botonCerrar" onclick="document.getElementById('error').removeAttribute('open')">
      Reintentar
    </button>
  </dialog>
  
</app-center-layout>
