h1{
    text-align: center;
    color: white;
    font-size: 40px;
}

p{
    font-size: 50px;
    text-align: center;
    font-family: Georgia, serif;
}

.botonGuardar:disabled{
    background-color: rgb(119, 119, 119);
    color: white;
    padding: 14px 14px;
    //margin: 8px 0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.botonGuardar:enabled{
    background-color: rgb(154, 247, 253);
    color: rgb(255, 255, 255);
    padding: 14px 14px;
    //margin: 8px 0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.botonGuardar:enabled:hover {
    box-shadow: 0 0 10px #a0e7cf, 0 0 20px #a3f7a3, 0 0 20px #cbf5c2;
    transition-delay: 1ms;
    color: white(154, 247, 253);
    background-color: rgb(147, 216, 137);
    border-color: rgb(147, 216, 137);
}
  
@media all and (max-width:30em){
    .botonGuardar{
        display: block;
        margin: 0.2em auto;
    }
}


.botonVolver{
    background-color:rgb(141, 191, 196);;
    color: white;
    padding: 14px 14px;
    //margin: 8px 0;
    border: 1px solid #ccc;
    cursor: pointer;
    //width: 10%;
}
.botonVolver:hover {
    box-shadow: 0 0 10px #e7aea0, 0 0 20px #f7c5a3, 0 0 20px #f5dbc2;
    transition-delay: 1ms;
    color: white(154, 247, 253);
    background-color: rgb(253, 168, 168);
    border-color: rgb(253, 168, 168);
}
  
@media all and (max-width:30em){
    .botonVolver{
        display: block;
        margin: 0.2em auto;
    }
}

b{
    font-size: 20px;
    text-align: center;
}

#formulario-box{
    width: 600px;
    height: 350px;
    box-sizing: border-box;
    padding: 40px 50px;
    border: black 3px solid;
    border-radius: 5px;
    background: white;
}

.botones{
    margin: 0px auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
}

#texto{
    margin-bottom: 4%;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid rgb(141, 191, 196);
}

h1 {
    text-align: center;
    color: white;
    font-size: 40px;
  }
