<app-center-layout>
  <div style = "display: flex; gap: 1rem;">
  <button class="botonVolver" (click)="volver()"> 
    <h3>Volver sin guardar</h3>
  </button>
  <button class="botonVolver" (click)="logoff()"><h3>Desconectarse</h3></button>
  </div>
  <h1>Datos para el paciente a ingresar</h1>
   
    <div id = "formulario-box">
      <form [formGroup]="pacienteForm" (ngSubmit)="submit()">
        <label id = "texto">DNI:
          <input type="text" formControlName="dni" style="height:30px; width: 300px" placeholder="ej: 12345678A" required>
        </label><br />

        <br />
      
        <label id = "texto">Nombre:
          <input type="text" formControlName="nombre" style="height:30px; width: 270px" placeholder = "p. ej: Sara"  required>
        </label><br />

        <br />
      
        <label id = "texto">Apellidos:
            <input type="text" formControlName="apellidos" style="height:30px; width: 264px" placeholder = "p. ej: Gonzalez Pérez" required>
        </label><br />

        <br />

        <label id = "texto">Correo Electrónico:
            <input type="text" formControlName="genero" style="height:30px; width: 195px" placeholder = "p. ej: sara.gonzalez@gmail.com">
        </label><br />

        <br />
      
        <label id = "texto">Fecha de nacimiento:
            <input type="text" formControlName="nacimiento" style="height:30px; width: 185px" placeholder="ej: 2021-04-12" required>
        </label><br />

        <br />

        <label for="genero">Género: </label>
        <select name="genero" formControlName="correo" required>
          <option value="Hombre">Hombre</option>
          <option value="Mujer">Mujer</option>
        </select><br />

        <br />

          <div class = "botones">
            <button class="botonGuardar" type="submit" [disabled]="!pacienteForm.valid">Guardar paciente</button> <br />
            <button class="botonGuardar" type="submit" [disabled]="!pacienteForm.valid" (click)="crearPrueba()">Guardar y empezar prueba<i class="fa fa-send"></i></button>
          </div>

      </form>
    </div>
</app-center-layout>
  

