@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
