<app-center-layout>

  <div id = "control-box">
    <div id="botones">
      <button class="botonDesconectarse" (click)="logoff()">Desconectarse</button>
      <button class="botonWelcome" routerLink="/acceso/welcome" routerLinkActive="active">Volver al inicio</button>
    </div>
    <!-- Titulo seccion 1 -->
    <h1>Análisis de sangre
      <button class="botonMas" id="addAnalisis" routerLink="/acceso/search" routerLinkActive="active">+</button>
      <button class="botonMenos" id="rmAnalisis" (click)="dialogPrueba(0, 'dialogDelA')">-</button>
    </h1>

    <dialog id="dialogDelA">
      <h2>Escribe el análisis de sangre a eliminar</h2>
      <div>
        <input 
          type="text"
          id="inputDelA" 
          placeholder="Identificador"
          [(ngModel)]="idAnalisis" 
        /><button id="ejecutarDelA" (click)="deletePrueba(0)">
          Eliminar
        </button>
      </div>

      <div>
        <button id="closeA" (click)="closeDialogPrueba(0, 'dialogDelA')">
          Cerrar
        </button>
        <span id="errorA"></span>
      </div>
    </dialog>

    <dialog style ="position:fixed ; left : 35%; top: 20%; height: 35%; width: 35%" id="busqueda">
      <h2>Búsqueda</h2>
      <br/>
      <form action="./buscar.php" method="post" target="_blank">
        <p>
          Introduzca el paciente a buscar: <input type="search" name="busqueda" placeholder="p. ej: 11304067W">
          <input type="submit" value="Buscar">
        </p>
      </form>
      
      <button style ="position: absolute;left: 100%; top: 0%;" onclick="document.getElementById('busqueda').removeAttribute('open')">
        X
      </button>
    </dialog>

    <h3>En proceso:</h3>
    <table id="ASProceso">
      <tr>
        <th>Identificador de la prueba</th>
        <th>Empleado</th>
        <th>Cliente</th>
        <th>Tiempo restante (segundos)</th>
      </tr>
      <tr *ngFor="let item of pruebasEjecucionSangre">
        <td>{{item.id}}</td>
        <td>{{item.dniDoctor}}</td>
        <td>{{item.dniPaciente}}</td>
        <td>{{segundos(item.fechaFinal)}}</td>
      </tr>
    </table>

    <h3>En cola:</h3>
    <table id="ASCola">
      <tr>
        <th>Identificador de la prueba</th>
        <th>Empleado</th>
        <th>Cliente</th>
        <th>Tiempo restante (segundos)</th>
      </tr>
      <tr *ngFor="let item of pruebasEsperaSangre">
        <td>{{item.id}}</td>
        <td>{{item.dniDoctor}}</td>
        <td>{{item.dniPaciente}}</td>
        <td>{{item.fechaFinal}}</td>
      </tr>
    </table>

    <h3>Finalizadas:</h3>
      <table id="SangreFinalizado">
        <thead>
        <tr>
          <th>ID</th>
          <th>Empleado</th>
          <th>Cliente</th>
          <th>Fecha</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="pruebasFinalizadasSangre()">
        <tr *ngFor="let pru of pruebaSangre?.pruebaSangre">
          <td *ngIf="comprobar(pru.electrolitos)">{{ pru.id }}</td>
          <td *ngIf="comprobar(pru.electrolitos)">{{ pru.dniDoctor.toUpperCase() }}</td>
          <td *ngIf="comprobar(pru.electrolitos)">{{ pru.dniPaciente.toUpperCase() }} </td>
          <td *ngIf="comprobar(pru.electrolitos)">{{ getFecha(pru.fechaFinal) }}</td>
          <td><button id="btn-consultas" (click)="masInfo(pru.electrolitos,pru.glucosa,pru.colesterol,pru.trigliceridos,pru.bilirrubina)">
            <b id="textoBoton">+ INFO</b>
            <i class="fa fa-send"></i></button></td>
        </tr>
      </tbody>
    </table>

    <div id="numPagPac">
      <button class="flechas" *ngIf="masPaginasIzq()" (click)="antPag()">
        <i class="fa fa-caret-square-o-left"></i>
        <b> <- Anterior</b>
      </button>
  
      <h5> {{pruebaSangre?.infoPagina?.pageNumber}}/{{pruebaSangre?.infoPagina?.totalPages}} </h5>
  
      <button class="flechas" *ngIf="masPaginasDcha()" (click)="sigPag()">
        <i class="fa fa-caret-square-o-right"></i>
        <b>Siguiente -> </b>
      </button>
    </div>

    

    <!--Para tener un poco de margen entre el final de la tabla y el final de la pagina-->
    <h3></h3>
    
  </div>

</app-center-layout>
